.btn-micolor{
    background-color: #ff6347;
    color: white;
    border: 2px solid rgb(14, 111, 112);
}

.img-marco{
  
    border: 42px solid black;
    width: 400px;
    border-image-width: 42px;
    border-image-source: url(https://i.imgur.com/YC5PUl6.png);
    border-image-slice: 110;
    border-image-outset: 0px;
    border-image-repeat: repeat;
}
.input-class{
    border: 2px solid rgb(14, 111, 112);

}

